<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ecodom - A place in harmony with nature</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/MyEnvironment/static/assets/favicon.ico" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="/static/css/cstyles.css" rel="stylesheet" />
        <link href="/static/css/login.css" rel="stylesheet" />


    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-sakura">
            <div class="container">
                <a class="navbar-brand" href="#!">EcoDom!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a></li>
                        <li class="nav-item">
                            <!-- <div class="text-center"> -->
                                <a href="http://127.0.0.1:8000/members/login" class=" nav-link log " data-bs-toggle="modal" data-bs-target="#modalLRForm">
                                    Get Started</a>
                              <!-- </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                  <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="myusername" required autofocus>
                        <label for="id_username">Username</label>
                      </div>
                      <hr>
        
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="id_password" placeholder="Password">
                        <label for="id_password">Password</label>
                      </div>
              
                      <div class="d-grid mb-2">
                        <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit" value="Submit">Sign In</button>
                      </div>
        
                      <a class="d-block text-center mt-2 small" href="http://127.0.0.1:8000/members/register">Doesn't have an account? Sign Up</a>
        
                      <hr class="my-4">
        
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>